@model  lab2.Models.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    @Html.LabelFor(p => p.Name)
    @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Name)
    @Html.LabelFor(p => p.Price)
    @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Price)
    <input type="submit" value="Submit" class="btn-primary" />
}