@model IEnumerable<MVCBlog.Models.Post>

@{
    ViewBag.Title = "Home Page";
}


@foreach (var post in Model)
{
    <div class="row">
        <div class="post col-md-6">
            <h2 class="title">@post.Title</h2>
            <div class="about">
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <div class="body">
                @post.Body
                @Html.ActionLink("Details", "Details", "Posts", new { id = post.Id }, null)
            </div>
        </div>
    </div>
}